/* berry blues */

/* dashboard and panels */
.webix_header > div{
    background-color:#283655;
    color:#d0e1f9;
}
.webix_abslayout {
    background-color:#283655;
}
.panel_drag_view{
    border-radius:2px;
    box-shadow: 0px 0px 10px #b9d4fa;
}
.webix_view.webix_abslayout .webix_view.webix_layout_line .webix_header > div{
    background-color: #4d648d;
    color:#d0e1f9;
}
.panel_icon{
    color:#d0e1f9;
}
.panel_target{
    background: #d0e1f9ab;
    box-shadow: 0px 0px 20px 5px #d0e1f9ab;
}

/* toolbar */
.webix_toolbar.webix_layout_toolbar{
    background-color:#1e1f26;
    border-color:#1e1f26;
}
.webix_toolbar.webix_layout_toolbar .webix_el_label .webix_el_box > a{
    color:#d0e1f9;
    text-decoration:none;
}
.webix_toolbar.webix_layout_toolbar .webix_el_label .webix_el_box > a:hover{
    text-decoration:none;
    font-weight:bold;
}
.webix_toolbar.webix_layout_toolbar .webix_el_label .webix_el_box > a:active{
    color:rgba(250,250,250,0.4);
}
.webix_toolbar.webix_layout_toolbar .webix_segment_0.webix_selected, .webix_toolbar.webix_layout_toolbar .webix_segment_N.webix_selected{
    background:#4d648d;
}
.webix_toolbar.webix_layout_toolbar .webix_segment_0.webix_selected:hover, .webix_toolbar.webix_layout_toolbar .webix_segment_N.webix_selected:hover{
    background:#4d648d;
}
.webix_toolbar.webix_layout_toolbar .webix_segment_0.webix_selected:focus, .webix_toolbar.webix_layout_toolbar .webix_segment_N.webix_selected:focus{
    background:#4d648d;
}
.webix_toolbar.webix_layout_toolbar .webix_segment_0.webix_selected:active, .webix_toolbar.webix_layout_toolbar .webix_segment_N.webix_selected:active{
    background:#4d648d;
}

/* reset button */
.webix_el_button button{
    background-color: #d0e1f9;
    color:#4d648d;
    border:none;
}
.webix_el_button button:hover{
    background-color: #b9d4fa;
    color:#4a5e92;
}
.webix_el_button button:focus{
    background-color: #d0e1f9;
    color:#4d648d;
}

/* other */
.draft .webix_template .title{
    color:#4d648d;
}